#newPartPanel(hidden).panel
	h1 Enter Part Details
	hr

	#innerWrap
		
		form(action="/newPart" method="POST")#newPartform
			table#createPartTable(style="width:50%;float:left;margin-bottom:100px;")
				tr
					td
						h5 Part Id:
					td
						legend 
							input(type="text" name="PartId" placeholder="Part Id")
				tr
					td
						h5 Part Code:
					td
						legend 
							input(type="text" name="PartCode" placeholder="Part Code")
				tr
					td
						h5 Batch Code:
					td
						legend 
							input#batchCode(type="text" name="BatchCode" placeholder="Batch Code")
				tr
					td
						h5 Part Type:
					td
						legend 
							select#allPartTypes(name="allPartTypes")
				tr
					td
						h5 Part Name:
					td
						legend 
							select#allPartNames(name="allPartNames")
				tr
					td
						h5 Description:
					td
						legend 
							textarea#partDescription(style="margin-left: 7px;height:45px;border:1px solid #D4DCDC;width:300px;")
				tr
					td
						h5 Date Of Manufacture:
					td
						legend 	
							input(type="date" name="DateOfManufacture" placeholder="Date of Manufacture")
				tr
					td#createPartBut(colspan="2" style="font-size: 12px;")
						legend
							button(type="button" style="margin:10px 10px 5px 10px" )#submit
								span.fa.fa-plus &nbsp;&nbsp;
								span SUBMIT
				