h1 Filter Part
hr
div#divFilter(style="text-align:center;color:#000;")
    span Select Filter: 
    select#allFilter()
    input#filterValue(type="text")
    button(type="button" style="margin:10px 10px 5px 10px" )#filterParts
        span.fa.fa-plus &nbsp;&nbsp;
        span SUBMIT

div#divFilteredData(style="margin-bottom:100px;")
